# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

sw.*
.env

!pages/index.vue
!pages/lti
!pages/admin
!pages/admin/**/*.*
!pages/admin/**
!pages/_*
pages/**
