$font1: 'Nunito', sans-serif; 
$font2: 'Montserrat', sans-serif;

body{
	font-family: 'Montserrat', sans-serif;
}
p, span{
	font-family: 'Montserrat', sans-serif;
}

.tdm_subtitle{
	font-size: 24px;
	color: #8994c6;
	font-weight: 300;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}

h2{
	min-height: auto;
	padding-bottom:20px;
}