/*

.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: $color3; 
}

*/

.scrollbar{
	overflow: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    background: $color3; 
}
 



.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}