
$primary-color: mediumslateblue;

$color1: #ebedf6; /*grey light*/
$color2: #18bcb9 ; /*grey dark #15A6A4*/
$color3: #0A45B1; /*blue #3270C0*/
$color4: #FC5D60; /*red*/
$color5: #212431; /*black*/
$color6: white;

