
$primary-color: mediumslateblue;

$color1: rgb(71,160,236); /*grey light*/
$color2: rgb(71,160,236);
$color3: rgb(71,160,236); /*#0A45B1; dark blue formal /*blue #3270C0*/
$color4: #FC5D60; /*red*/
$color5: #212431; /*black*/
$color6: white;

