
$primary-color: mediumslateblue;


$color1: #E5E5EB; /*rgb(71,160,236); /*grey light*/
$color2: #157DF2;
$color3: #105BB1; /*#0A45B1; dark blue formal /*blue #3270C0*/
$color4: #FC5D60; /*red*/
$color5: #212431; /*black*/
$color6: white;

$green: #5bc662;
$grey:#ADB6BD;
$lightGrey:#F7F9FA;

